################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GithubAuthentication
/PhoneStore
/Website-Big-School/App_Data
