<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Model1" connectionString="data source=LAPTOP-52BB4OF4\HUYNGUYEN;initial catalog=QuanLyQuanCoffee;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Quan_Ly_Quan_Coffee.Properties.Settings.QuanLyQuanCoffeeConnectionString"
      connectionString="Data Source=LAPTOP-52BB4OF4\HUYNGUYEN;Initial Catalog=QuanLyQuanCoffee;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>