<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StudentDBContext" connectionString="data source=LAPTOP-52BB4OF4\HUYNGUYEN;initial catalog=QuanLySinhVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=LAPTOP-52BB4OF4\HUYNGUYEN;initial catalog=QuanLySinhVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=LAPTOP-52BB4OF4\HUYNGUYEN;initial catalog=QuanLySinhVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>