<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Manager" connectionString="data source=LAPTOP-52BB4OF4\HUYNGUYEN;initial catalog=Lab03_03;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>